* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}
.section a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.section a:hover {
    background-color: #218838;
}

.section {
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.section img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
}



.section button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}